<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Update Post</title>
  <!-- Bootstrap Css -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="/css/styles.css" rel="stylesheet" />
  <!-- Bootstrap Js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <!-- Summernote -->
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg text-uppercase fixed-top" id="mainNav" style="background-color: #968C83">
  <div class="container">
    <a class="navbar-brand" href="/">
      Dev Portfolio
      <span sec:authorize-expr="isAuthenticated()" th:if="${sessionUser.getRole().toString()} == 'USER'">
        <span class="text-white-50">[ADMIN(</span>
        <span class="text-white-50 text-lowercase" th:text="${sessionUser.getName()}">ADMIN</span>
        <span class="text-white-50">)]</span>
      </span>
    </a>
    <input type="hidden" th:value="${sessionUser}" id="sessionUser">
    <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/">Home</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/">Portfolio</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/">About</a></li>
        <li class="nav-item mx-0 mx-lg-1" sec:authorize-expr="isAuthenticated()" th:if="${sessionUser.getRole().toString()} == 'USER'">
          <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/admin/posts">write post</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1" sec:authorize-expr="isAuthenticated()">
          <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/logout">LOGOUT</a>
        </li>
      </ul>
    </div>
    <div class="dropdown" sec:authorize-expr="isAuthenticated()">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
          <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
        </svg>
        <span id="alarmCount" th:text="${alarms.size()}"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end me-3 mt-3 py-0 overflow-auto" aria-labelledby="dropdownMenuButton1" data-bs-popper="none" style="height: 400px;">
        <li><h6 class="dropdown-header bg-secondary text-white fw-500 py-3">Alerts</h6></li>
        <div th:each="alarm : ${alarms}">
          <li><hr class="dropdown-divider my-0"></li>
          <li>
            <a class="dropdown-item unread mdc-ripple-upgraded" th:href="'/alarm/'+${alarm.key}">
              <div class="dropdown-item-content me-2">
                <div class="dropdown-item-content-text" th:text="${alarm.value.message}"></div>
                <div class="dropdown-item-content-subtext" th:text="${alarm.value.createdDate}"></div>
              </div>
            </a>
          </li>
        </div>
        <div id="socketMessage" style="display: none">
          <li><hr class="dropdown-divider my-0"></li>
          <li>
            <a class="dropdown-item unread mdc-ripple-upgraded" id="alarmHref" href="/">
              <div class="dropdown-item-content me-2">
                <div class="dropdown-item-content-text" id="alarmMessage"></div>
                <div class="dropdown-item-content-subtext" id="alarmDate"></div>
              </div>
            </a>
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>
<section class="page-section portfolio" id="portfolio">
  <div class="container mt-4">
    <form action="/admin/posts/" method="POST" th:object="${postForm}">
      <br style="clear: both">
      <h3 style="margin-top: 10px; margin-bottom: 25px; font-size: 35px;">Update Post</h3>
      <hr class="mb-4">
      <input type="hidden" name="_method" value="PUT">
      <input type="hidden" th:field="*{id}">
      <div class="form-group">
        <label for="title" class="fw-bold" style="font-size: 20px;">TITLE</label>
        <input type="text" class="form-control mt-2" id="title" name="title" th:field="*{title}" required>
      </div>
      <div class="form-group mt-4">
        <label for="postSummary" class="fw-bold mb-2" style="font-size: 20px;">SUMMARY</label>
        <textarea type="text" class="form-control" id="postSummary" name="postSummary" th:field="*{summary}" rows="3" maxlength="500" required style="resize: none"></textarea>
      </div>
      <div class="form-group mt-4">
        <label for="summernote" class="fw-bold mb-2" style="font-size: 20px;">CONTENT</label>
        <textarea class="form-control" id="summernote" name="content" th:field="*{content}" rows="7"></textarea>
      </div>
      <div class="mt-4">
        <button type="submit" id="submit" name="submit" class="btn btn-dark">Submit</button>
        <a role="button" href="/" class="btn btn-dark opacity-75">Cancel</a>
      </div>
    </form>
  </div>
</section>

<script>
  $(document).ready(function() {
    $('#summernote').summernote({
      height : 700,
      minHeight : null,
      maxHeight : null,
      toolbar: [
        // [groupName, [list of button]]
        ['fontname', ['fontname']],
        ['fontsize', ['fontsize']],
        ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
        ['color', ['forecolor','color']],
        ['table', ['table']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['height', ['height']],
        ['insert',['picture','link','video']],
        ['view', ['fullscreen', 'help']]
      ],
      fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋음체','바탕체'],
      fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72'],
      focus : true,
      callbacks : {
        onImageUpload : function(files, editor, welEditable) {
          for (var i = 0; i < files.length; i++) {
            sendFile(files[i], this);
          }
        }
      }
    });
  });

  function sendFile(file, el) {
    var form_data = new FormData();
    form_data.append('file', file);
    $.ajax({
      data : form_data,
      type : "POST",
      url : '/uploadSummernoteImage',
      cache : false,
      contentType : false,
      enctype : 'multipart/form-data',
      processData : false,
      success : function(url) {
        $(el).summernote('insertImage', url, function($image) {
          $image.css('width', "25%");
        });
      }
    });
  }
</script>
<script src="/js/customSocket.js"></script>

</body>
</html>